:root{
  --primaryColor:#00B44E;
  --secondaryColor: #f8f9fa; /* Light background color */
  --headingFont: 'Poppins';
  --bodyFont: 'Roboto', sans-serif; /* Custom body font */

  }
  .internalLinks{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }


